@import '../../colors';

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid $grey4;
    border-radius: 0.25rem;
    height: 100%;

    .icon-wrapper {
        i {
            border: 1px solid $salmon;
            border-radius: 50%;
            color: $salmon;
            padding: 0.5rem;
        }
    }
    
    .action {
        &-col {
            text-align: center;
        }

        &-btn {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 700px) {
}