@import '../colors';

.footer {
    &-container {
        background-color: darken($sage, 25%);
        margin-top: 5rem;

        .social {
            &-wrapper {
                display: flex;
            }

            &-link {
                margin: 1rem 0.5rem 0 0;
            }
        }
    }

    &-copyright {
        background-color: $grey2 !important;
    }
}

.footer-logo {
    height: 5rem;
}

@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 600px) {
    .footer-container {
        .section-col {
            text-align: center;
        }
    }
}