@import '../colors';

nav {
    background-color: $maroon;
    z-index: 1;
    
    .brand-logo {
        align-items: center;
        display: flex;
        margin-left: 1rem;

        img {
            height: 4.75rem;
        }
    }

    .dropdown-option {
        i {
            margin: 0 1rem 0 0 !important;
        }
    }

    .contact-link {
        font-size: 1rem;
        margin-right: 0.75rem;
    }
}

@media only screen and (max-width: 992px) {
    nav {
        .brand-logo {
            font-size: 1.5rem;
        }

    }
    .sidenav {
        .dropdown-option {
            align-items: center;
            display: flex;
            font-size: 1.25rem;
            margin: 0 2rem;
        }

        .resource-item, .contact-item {
            font-size: 1.25rem !important;
        }
        
        .contact-link {
            font-size: 1.25rem;
            font-weight: 400;
            padding: 0 2rem;
        }
    }
}

@media only screen and (max-width: 700px) {
    nav {
        .brand-logo {
            left: 46%;

            img {
                display: none;
            }
        }
    }
}