@import '../colors';

.landing-container {
    transition: all 0.5s;

    .banner-img-wrapper {
        img {
            min-height: 30rem;
            max-height: 45rem;
            object-fit: cover;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 992px) {
    .landing-container {
        .banner-img-wrapper {
            img {
                max-height: 42rem;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .landing-container {
        .banner-img-wrapper {
            img {
                max-height: 35rem;
            }
        }
    }
}