/* Color Theme Swatches in Hex */
$blue: #0D5673;
$salmon: #A64208;
$sage: #80A7BF;
$maroon: #591902;
$pink: #F2D8CE;
$grey1: #141414;
$grey2: #676767;
$grey3: #949494;
$grey4: #c5c5c5;
$grey5: #ececec;
