@import './colors';

body {
    background-color: $grey5;
    font-family: 'Roboto', sans-serif;
    min-width: 575px;
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.link {
    color: $green !important;
    font-weight: 400 !important;

    &.secondary {
        color: white !important;
    }
}

.primary-btn {
    background-color: $green !important;
    border-radius: 0.25rem;
    box-shadow: none;
    color: white !important;
    transition: all 0.3s;

    &:hover, &:focus, &:active {
        background-color: $sage !important;
        color: white !important;
        transform: scale(1.05);
    }
}

.secondary-btn {
    background-color: white;
    border: 1px solid $green !important;
    border-radius: 0.25rem;
    box-shadow: none;
    color: $green !important;
    transition: all 0.3s;

    &:hover, &:focus, &:active {
        background-color: $sage !important;
        border-color: $sage !important;
        color: white !important;
        transform: scale(1.05);
    }
}